.navbar {
    display: flex;
    flex: 1;
    padding: 1rem 0;
    border-bottom: 1px solid #e10909;
    justify-content: space-between;
    align-items: center;
}
  
.navbar h2{
    margin-left: 5rem;
}

.dex{
    color:#e10909
}


.navbar a {
    margin-right: 0.5rem;
}